In [ ]:
!pip install bs4

Collecting bs4
  Downloading bs4-0.0.1.tar.gz (1.1 kB)
  Preparing metadata (setup.py) ... done
Requirement already satisfied: beautifulsoup4 in /usr/local/lib/python3.10/dist-packages (from bs4) (4.11.2)
Requirement already satisfied: soupsieve>1.2 in /usr/local/lib/python3.10/dist-packages (from beautifulsoup4->bs4) (2.5)
Building wheels for collected packages: bs4
  Building wheel for bs4 (setup.py) ... done
  Created wheel for bs4: filename=bs4-0.0.1-py3-none-any.whl size=1256 sha256=ea3894d6a1dc08f41d2ea11a6f2994a2d2e84826bc842a0acb72790fa13994c4
  Stored in directory: /root/.cache/pip/wheels/25/42/45/b773edc52acb16cd2db4cf1a0b47117e2f69bb4eb300ed0e70
Successfully built bs4
Installing collected packages: bs4
Successfully installed bs4-0.0.1

In [ ]:
from bs4 import BeautifulSoup
import requests

In [ ]:
url='https://en.wikipedia.org/wiki/List_of_largest_companies_in_the_United_States_by_revenue'

In [ ]:
page=requests.get(url)
page

In [ ]:
soup=BeautifulSoup(page.text,'html')

In [ ]:
soup

In [ ]:
soup.find_all('table')[1]

In [ ]:
soup.find_all('table',class_='wikitable sortable')[1]

In [ ]:
table=soup.find_all('table')[1]

In [ ]:
print(table)

In [ ]:
world_titles=table.find_all('th')

In [ ]:
world_titles

In [ ]:
world_table_titles=[title.text  for title in world_titles]

In [ ]:
world_table_titles

In [ ]:
world_table_titles=[title.text.strip() for title in world_titles]

In [ ]:
world_table_titles

In [ ]:
import pandas as pd

In [ ]:
df=pd.DataFrame(columns=world_table_titles)
df

Empty DataFrame
Columns: [Rank, Name, Industry, Revenue (USD millions), Revenue growth, Employees, Headquarters]
Index: []

In [ ]:
column_data=table.find_all('tr')

In [ ]:
'''for row in column_data:
     row_data=row.find_all('td')
     individual_row_data=world_table_values=[value.text.strip() for value in row_data]
     print(individual_row_data)'''

"for row in column_data:\n     row_data=row.find_all('td')\n     individual_row_data=world_table_values=[value.text.strip() for value in row_data]\n     print(individual_row_data)"

In [ ]:
for row in column_data[1:]:# [1:] because we we are getting an empty [] before the dat
  row_data=row.find_all('td')
  individual_row_data=world_table_values=[value.text.strip() for value in row_data]
  length=len(df)
  df.loc[length]=individual_row_data

In [ ]:
df

In [ ]:
df.to_csv(r'companies.csv',index=False)